<div class="grid">
  <div class="col">
    <div class="text-center p-3 mx-3 border-round-sm bg-white font-bold">
      <div class="grid wrapper-contenedor">
        <div class="col-auto">
          <p-carousel
            [value]="albunes"
            [numVisible]="3"
            [numScroll]="3"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template pTemplate="header">
              <h3>ALBUMS CON ESTADO DE OCULTO (No público)</h3>
            </ng-template>
            <ng-template let-album pTemplate="item">
              <div
                class="border-1 surface-border border-round m-2 text-center py-5 px-3"
              >
              <div class="mb-3">
                  <img
                    [src]="
                      album.portada
                        ? rutaURL + album.portada
                        : './../../../../assets/img/default.png'
                    "
                    [alt]="album.nombre"
                    class="shadow-2 w-6"
                    height="290"
                    width="220"
                  />
                </div>
                <div>
                  <h4 class="mb-1">{{ album.nombre }}</h4>
                  <div class="car-buttons mt-5">
                    <p-button
                      type="button"
                      styleClass="p-button-warning p-button-rounded mr-2"
                      icon="pi pi-check"
                      pTooltip="Publicar Album?"
                      tooltipPosition="bottom"
                      (onClick)="publicar(album.id, album.nombre)"
                    ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button-danger p-button-rounded mr-2"
                      icon="pi pi-trash"
                      (onClick)="deleteAlbum(album)"
                    ></p-button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"> </p-confirmDialog>
<p-toast></p-toast>
