<div class="wrapper-nu">
  <p-toast></p-toast>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
    <div class="text-center mb-5">
      <img
        src="../../../../assets/img/user_profile.png"
        alt="Image"
        height="150"
      />
      <div class="text-900 text-3xl font-medium mb-3">Registro de Usuarios</div>
      <p-button
        label="Ver usuarios"
        icon="pi pi-arrow-circle-left"
        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"
        (onClick)="volver()"
      ></p-button>
    </div>
    <form [formGroup]="datosUsuario" (ngSubmit)="onRegister()">
      <div>
        <label for="name1" class="block text-900 font-medium mb-2"
          >Nombres y Apellidos</label
        >
        <input
          id="name1"
          type="text"
          placeholder="Ingrea el nombre completo del usuario"
          pInputText
          class="w-full mb-3 focused"
          formControlName="name"
          name="name"
          required
        />
        <div
          *ngIf="
            datosUsuario.controls['name'].invalid &&
            (datosUsuario.controls['name'].dirty ||
              datosUsuario.controls['name'].touched)
          "
          class="mb-2"
        >
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('name')?.errors?.['required']"
          >
            Debes ingresar nombre y apellido del usuario
          </span>
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('name')?.errors?.['maxlength']"
          >
            Los nombres solo deben tener 100 caracteres como máximo
          </span>
        </div>

        <label for="email1" class="block text-900 font-medium mb-2"
          >Nombre de usuario (username)</label
        >
        <input
          id="email1"
          type="text"
          placeholder="Ejemplo: jperez"
          pInputText
          class="w-full mb-3"
          formControlName="username"
          name="username"
          maxlength="100"
          required
        />

        <div
          *ngIf="
            datosUsuario.controls['username'].invalid &&
            (datosUsuario.controls['username'].dirty ||
              datosUsuario.controls['username'].touched)
          "
          class="mb-2"
        >
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('username')?.errors?.['required']"
          >
            Debes ingresar un nombre de usuario para que pueda loguearse.
          </span>
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('username')?.errors?.['maxlength']"
          >
            El nombre de usuario solo debe tener como máximo 25 caracteres.
          </span>
        </div>

        <label for="password1" class="block text-900 font-medium mb-2"
          >Contraseña</label
        >
        <input
          id="password1"
          type="password"
          placeholder="**********"
          pInputText
          class="w-full mb-3"
          formControlName="password"
          name="password"
          maxlength="25"
          minlength="6"
          required
        />

        <div
          *ngIf="
            datosUsuario.controls['password'].invalid &&
            (datosUsuario.controls['password'].dirty ||
              datosUsuario.controls['password'].touched)
          "
          class="mb-2"
        >
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('password')?.errors?.['required']"
          >
            Debes ingresar un nombre de usuario para que pueda loguearse.
          </span>
          <span
            class="text-red-500 font-bold text-sm"
            *ngIf="this.datosUsuario.get('password')?.errors?.['minlength']"
          >
            La contraseña debe tener como mino 6 caracteres
          </span>
        </div>

        <p-button
          icon="pi pi-user"
          label="Guardar Registro"
          styleClass="p-button-raised p-button-text w-full"
          type="submit"
          [disabled]="!datosUsuario.valid"
        ></p-button>
      </div>
    </form>
  </div>
</div>
