.imagen{
  background-color: #fff;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.contenedor{
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
