<div class="grid">
  <div class="col">
    <div class="text-center p-3 mx-3 border-round-sm bg-white font-bold">
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <h3>ALBUMS CON ESTADO DE PÚBLICO</h3>
        </ng-template>
        <ng-template pTemplate="right">
          <p-button
            label="ALBUMS OCULTOS"
            styleClass="p-button-raised"
            icon="pi pi-play"
            (onClick)="ocultos()"
          ></p-button>
        </ng-template>
      </p-toolbar>
      <div class="grid wrapper-contenedor">
        <div class="col-auto">
          <p-carousel
            [value]="albunes"
            [numVisible]="3"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions"
          >
            <ng-template let-album pTemplate="item">
              <div
                class="border-1 surface-border border-round m-2 text-center py-5 px-3"
              >
                <div class="mb-3">
                  <img
                    [src]="
                      album.portada
                        ? rutaURL + album.portada
                        : './../../../../assets/img/default.png'
                    "
                    [alt]="album.nombre"
                    class="shadow-2 w-6"
                    height="290"
                    width="220"
                  />
                </div>
                <div>
                  <h4 class="mb-1">{{ album.nombre }}</h4>
                  <div class="car-buttons mt-5">
                    <p-button
                    type="button"
                    styleClass="p-button-warning p-button-rounded mr-2"
                    icon="pi pi-times"
                    pTooltip="Publicar Album?"
                    tooltipPosition="bottom"
                    (onClick)="ocultar(album.id, album.nombre)"
                  ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button p-button-rounded mr-2"
                      icon="pi pi-search"
                      pTooltip="Agregar fotos a este albúm?"
                      tooltipPosition="bottom"
                      (onClick)="agregarFoto(album.id,album.nombre)"
                    ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button-success p-button-rounded mr-2"
                      icon="pi pi-pencil"
                      (onClick)="editarAlbum(album.id)"
                    ></p-button>
                    <p-button
                      type="button"
                      styleClass="p-button-danger p-button-rounded mr-2"
                      icon="pi pi-trash"
                      (onClick)="deleteAlbum(album)"
                    ></p-button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"> </p-confirmDialog>
<p-toast></p-toast>
