.wrapper-portada {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 85vh;
  padding-top: 100px;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
