.container{
  display: flex;
  justify-content: center;
  justify-items: center;
}
.tarjeta{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cuerpo{
  padding: 20px
}

.izquierda{
  float: left;
}

.derecha{
  float: right;
}

.reacciones{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contador{
  display: flex;
  justify-content: center;
}
